aliyun-python-sdk-core==2.13.20
aliyun-python-sdk-core-v3==2.13.11
aliyun-python-sdk-kms==2.10.1
beautifulsoup4==4.9.1
certifi==2020.6.20
chardet==3.0.4
crcmod==1.7
html5lib==1.1
idna==2.10
jmespath==0.10.0
oss2==2.12.1
pyaes==1.6.1
pycryptodome==3.9.8
pyDes==2.0.1
pytz==2019.3
PyYAML==5.3.1
requests==2.23.0
six==1.15.0
soupsieve==2.0.1
tzlocal==2.0.0
urllib3==1.25.8
webencodings==0.5.1
